<!DOCTYPE html>
<html>
<head>

<title>All Users</title>

<style>

body{
font-family:Arial;
background:#f4f4f4;
padding:40px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:12px;
border:1px solid #ddd;
text-align:center;
}

th{
background:#333;
color:white;
}

button{
padding:6px 10px;
background:red;
color:white;
border:none;
cursor:pointer;
}

</style>

</head>

<body>

<h2>All Users</h2>

<table>

<tr>
<th>ID</th>
<th>Username</th>
<th>Goal</th>
<th>Plan</th>
<th>Action</th>
</tr>

{% for user in users %}

<tr>

<td>{{ user.id }}</td>
<td>{{ user.username }}</td>
<td>{{ user.goal }}</td>
<td>{{ user.plan }}</td>

<td>

<form action="/delete-user/{{ user.id }}" method="post">

<button type="submit">Delete</button>

</form>

</td>

</tr>

{% endfor %}

</table>

</body>
</html>